@namespace easy_blazor_bulma
@inherits ComponentBase

<ul class='@FullCssClass'>
	@foreach (var step in Children)
	{
		<li class='@GetChildCssClass(step)' @onclick="() => OnSelectionChanged(step)">
			<span class='@GetMarkerCssClass(step)'>
				@if (string.IsNullOrWhiteSpace(step.Icon) == false)
				{
					<span class="material-icons icon">@step.Icon</span>
				}
			</span>
			<div class="steps-content">
				<p class='@step.CssClass'>@step.Name</p>
			</div>
		</li>
	}
</ul>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
