@namespace easy_blazor_bulma
@inherits ComponentBase

<section class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    <div class="hero-body">
        <div class="@ContainerCssClass">
            <h1 class="title">
                @Message
            </h1>
            <div>
                @if (Completion != null)
                {
                    <progress class='@ProgressCssClass' value="@Completion" max="100">@Completion</progress>
                }
                else
                {
                    <progress class='@ProgressCssClass' max="100">100</progress>
                }

                @if (Status != null && Status.Value.HasFlag(LoadingStatus.Complete))
                {
                    <span class="@IconCssClass">@Icon</span>
                }
            </div>
            @if (ShowClose && Status != null && Status.Value.HasFlag(LoadingStatus.Complete))
            {
                <button type="button" class="button is-link" @onclick="OnClose">@CloseButtonText</button>
            }
            @if (Loading != null)
            {
                @Loading
            }
        </div>
    </div>
</section>

<div class="@ContentCssClass">
    @(Loaded ?? ChildContent)
</div>
