@namespace easy_blazor_bulma
@inherits ComponentBase

@if (UpdatePageTitle && string.IsNullOrWhiteSpace(ApplicationName) == false)
{
	<PageTitle>@Title - @ApplicationName</PageTitle>
}
else if (UpdatePageTitle)
{
	<PageTitle>@Title</PageTitle>
}

<section class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	<div class="@BodyCssClass">
		<h1 class="@TitleCssClass">
			@if (string.IsNullOrWhiteSpace(Icon) == false && string.IsNullOrWhiteSpace(IconUrl) == false)
			{
				<a class="is-pulled-left" href="@IconUrl">
					<span class="material-icons is-pulled-left is-unselectable" aria-hidden="true">@Icon</span>
				</a>
				<span>@Title</span>
			}
			else if (string.IsNullOrWhiteSpace(Icon) == false)
			{
				<span class="material-icons is-pulled-left is-unselectable" aria-hidden="true">@Icon</span>
				<span>@Title</span>
			}
			else
			{
				@Title
			}
		</h1>
	</div>
</section>
