@namespace easy_blazor_bulma
@inherits ComponentBase

<nav class="@MainCssClass" aria-label="breadcrumbs" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    <ul>
        @foreach (var item in Children)
        {
            <li class="@GetItemCssClass(item)">
                <a href="@item.Url">
                    @if (string.IsNullOrWhiteSpace(item.Icon) == false)
                    {
                        <span class="material-icons icon">@item.Icon</span>
                    }
                    <span>@item.DisplayText</span>
                </a>
            </li>
        }
    </ul>
</nav>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
