@namespace easy_blazor_bulma
@inherits ComponentBase

<nav class="@MainCssClass" aria-label="breadcrumbs" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    <ul>
        @foreach (var item in Children)
        {
            <li class="@item.MainCssClass">
                <a href="@item.Url" class="@item.LinkCssClass">
                    @if (string.IsNullOrWhiteSpace(item.Icon) == false)
                    {
                        <span class="@item.IconCssClass">@item.Icon</span>
                    }
                    @if (string.IsNullOrWhiteSpace(item.DisplayText) == false)
                    {
                        <span>@item.DisplayText</span>
                    }
                </a>
            </li>
        }
    </ul>
</nav>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
