@namespace easy_blazor_bulma
@inherits ComponentBase

<div class='@MainCssClass' @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (UseBackground)
	{
		<div class="modal-background" @onclick='() => CloseModal()'></div>
	}
	<div class="@CardCssClass" style='@(IsFullScreen ? "width: 100%; height: 100%" : "")'>
		@if (string.IsNullOrWhiteSpace(Title) == false)
		{
			<header class="@HeaderCssClass">
				<p class="modal-card-title">@Title</p>
				<button type="button" class="delete" aria-label="close" @onclick='() => CloseModal()'></button>
			</header>
		}
		<section class="@BodyCssClass">
			@(ModalBody ?? ChildContent)
		</section>
		@if (ModalFooter != null)
		{
			<footer class="@FootCssClass">
				@ModalFooter
			</footer>
		}
	</div>
</div>
