@using Microsoft.AspNetCore.Components.Routing

@namespace easy_blazor_bulma
@inherits ComponentBase

<nav class="@FullCssClass" role="navigation" aria-label="main navigation">
	@if (UseBurger || string.IsNullOrWhiteSpace(DisplayText) == false)
	{
		if (string.IsNullOrWhiteSpace(DisplayText) == false)
		{
			<NavLink href="" ActiveClass="is-active" class="navbar-item" Match="NavLinkMatch.All">@DisplayText</NavLink>
		}
		if (UseBurger)
		{
			<a role="button" class='@BurgerCssClass' aria-label="menu" aria-expanded="false" data-target="@Id" @onclick="ToggleMenu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		}
	}
	<div id="@Id" class="@MenuCssClass">
		@if (NavbarStart != null || ChildContent != null)
		{
			<div class="navbar-start">
				@(NavbarStart ?? ChildContent)
			</div>
		}
		@if (NavbarEnd != null)
		{
			<div class="navbar-end">
				@NavbarEnd
			</div>
		}
	</div>
</nav>
