@using Microsoft.AspNetCore.Components.Routing

@namespace easy_blazor_bulma
@inherits ComponentBase

<nav class="@MainCssClass" role="navigation" aria-label="main navigation" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (UseBurger || string.IsNullOrWhiteSpace(DisplayText) == false)
	{
		<div class="@BrandCssClass">
			@if (string.IsNullOrWhiteSpace(DisplayText) == false || string.IsNullOrWhiteSpace(LogoUrl) == false || string.IsNullOrWhiteSpace(LogoIcon) == false)
			{
				<NavLink ActiveClass="is-active" href="@Href" class="@LinkCssClass" Match="NavLinkMatch.All">
					@if (string.IsNullOrWhiteSpace(LogoUrl) == false)
					{
						<span class='@LogoCssClass'>
							<img src="@LogoUrl" />
						</span>
					}
					else if (string.IsNullOrWhiteSpace(LogoIcon) == false)
					{
						<span class='@LogoCssClass'>@LogoIcon</span>
					}
					@if (string.IsNullOrWhiteSpace(DisplayText) == false)
					{
						<span>@DisplayText</span>
					}
				</NavLink>
			}
			@if (UseBurger)
			{
				<a role="button" class='@BurgerCssClass' aria-label="menu" aria-expanded="false" data-target="@Id" @onclick="ToggleMenu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			}
		</div>
	}
	<div id="@Id" class="@MenuCssClass">
		@if (NavbarStart != null || ChildContent != null)
		{
			<div class="navbar-start">
				@(NavbarStart ?? ChildContent)
			</div>
		}
		@if (NavbarEnd != null)
		{
			<div class="navbar-end">
				@NavbarEnd
			</div>
		}
	</div>
</nav>
