@namespace easy_blazor_bulma
@inherits TableCellBase

<th class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (string.IsNullOrWhiteSpace(Tooltip) == false)
	{
		<span class="@TooltipCssClass" data-tooltip="@Tooltip">
			@if (string.IsNullOrWhiteSpace(Icon) == false)
			{
				<span class="material-icons icon">@Icon</span>
			}

			@if (string.IsNullOrWhiteSpace(DisplayText) == false)
			{
				<span>@DisplayText</span>
			}
			else
			{
				<span>@ChildContent</span>
			}
		</span>
	}
	else
	{
		<span>
			@if (string.IsNullOrWhiteSpace(Icon) == false)
			{
				<span class="material-icons icon">@Icon</span>
			}

			@if (string.IsNullOrWhiteSpace(DisplayText) == false)
			{
				<span>@DisplayText</span>
			}
			else
			{
				<span>@ChildContent</span>
			}
		</span>
	}
</th>
