@namespace easy_blazor_bulma

@if (UpdatePageTitle && string.IsNullOrWhiteSpace(ApplicationName) == false)
{
	<PageTitle>@Title - @ApplicationName</PageTitle>
}
else if (UpdatePageTitle)
{
	<PageTitle>@Title</PageTitle>
}

<section class="@FullCssClass">
	<div class="hero-body pl-4">
		<h1 class="title has-text-centered">
			@if (string.IsNullOrWhiteSpace(Icon) == false && string.IsNullOrWhiteSpace(IconUrl) == false)
			{
				<a class="is-pulled-left" href="@IconUrl">
					<span class="material-icons is-pulled-left no-select" aria-hidden="true">@Icon</span>
				</a>
				<span>@Title</span>
			}
			else if (string.IsNullOrWhiteSpace(Icon) == false)
			{
				<span class="material-icons is-pulled-left no-select" aria-hidden="true">@Icon</span>
				<span>@Title</span>
			}
			else
			{
				@Title
			}
		</h1>
	</div>
</section>
