@namespace easy_blazor_bulma
@typeparam TValue
@inherits InputBase<TValue>

<div class='@MainCssClass'>
    <select class='input' @onchange=OnSelectionChanged @ref=Element @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
        @if (IsNullable)
        {
            <option value="" selected='@(CurrentValue == null)'>@NullText</option>
        }
        @foreach (var item in Items)
        {
            <option value="@DisplayValue(item)" selected='@(AreEqual(item, CurrentValue))'>@DisplayValue(item)</option>
        }
    </select>
</div>
@if (string.IsNullOrWhiteSpace(Icon) == false)
{
    <span class="material-icons icon is-left">@Icon</span>
}
