@namespace easy_blazor_bulma
@typeparam TValue
@inherits InputBase<TValue>

<input type="password" class="@MainCssClass" value='@CurrentValueAsString' @onkeypress="CheckCapsLock" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)' />

@if (string.IsNullOrWhiteSpace(Icon) == false)
{
    <span class="@IconCssClass">@Icon</span>
}

@if (string.IsNullOrWhiteSpace(Message) == false)
{
    <p class="@MessageCssClass">@Message</p>
}
