@namespace easy_blazor_bulma
@typeparam TEnum
@inherits InputBase<TEnum>

@using System.ComponentModel.DataAnnotations

<div class='@MainCssClass'>
    <select class='input' @onchange=OnSelectionChanged @ref=Element @attributes='AdditionalAttributes.ConvertReadonlyToDisabled().GetFilteredAttributes(Filter)'>
        @if (IsNullable)
        {
            <option value="" selected='@(CurrentValue == null)'>@NullText</option>
        }
        @foreach (var value in Enum.GetValues(UnderlyingType).Cast<TEnum>().Where(x => HideZeroOption == false || (int)(object)x! > 0))
        {
            <option value="@value" selected='@(AreEqual(value, CurrentValue))'>@(value.GetValueAttribute<TEnum, DisplayAttribute>()?.GetName() ?? value!.ToString())</option>
        }
    </select>
</div>
@if (string.IsNullOrWhiteSpace(Icon) == false)
{
    <span class="material-icons icon is-left">@Icon</span>
}
