@namespace easy_blazor_bulma
@typeparam TValue
@inherits InputBase<TValue>

<div class='@FullCssClass'>
    <select class='input' @onchange=OnSelectionChanged @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
        @if (IsNullable)
        {
            <option value="" selected='@(CurrentValue == null)'>@NullText</option>
        }
        @foreach (var item in Items)
        {
            <option value="@DisplayValue(item)" selected='@(EqualityComparer<TValue>.Default.Equals(item, CurrentValue))'>@DisplayValue(item)</option>
        }
    </select>
</div>
@if (string.IsNullOrWhiteSpace(Icon) == false)
{
    <span class="material-icons icon is-left">@Icon</span>
}
