@namespace easy_blazor_bulma
@inherits ComponentBase

<section class="@FullCssClass" @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
	@if (HeroHead != null)
	{
		<div class="hero-head">
			@HeroHead
		</div>
	}

	@if (HeroBody != null || ChildContent != null)
	{
		<div class="hero-body">
			@(HeroBody ?? ChildContent)
		</div>
	}
	else if (string.IsNullOrWhiteSpace(Title) == false && string.IsNullOrWhiteSpace(Subtitle) == false)
	{
		<div class="hero-body">
			<div>
				<p class="title">@Title</p>
				<p class="subtitle">@Subtitle</p>
			</div>
		</div>
	}
	else if (string.IsNullOrWhiteSpace(Title) == false)
	{
		<div class="hero-body">
			<p class="title">@Title</p>
		</div>
	}

	@if (HeroFoot != null)
	{
		<div class="hero-foot">
			@HeroFoot
		</div>
	}
</section>
