@namespace easy_blazor_bulma
@inherits ComponentBase

<section class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (HeroHead != null)
	{
		<div class="@HeaderCssClass">
			@HeroHead
		</div>
	}

	@if (HeroBody != null || ChildContent != null)
	{
		<div class="@BodyCssClass">
			@(HeroBody ?? ChildContent)
		</div>
	}
	else if (string.IsNullOrWhiteSpace(Title) == false && string.IsNullOrWhiteSpace(Subtitle) == false)
	{
		<div class="@BodyCssClass">
			<div>
				<p class="title">@Title</p>
				<p class="subtitle">@Subtitle</p>
			</div>
		</div>
	}
	else if (string.IsNullOrWhiteSpace(Title) == false)
	{
		<div class="@BodyCssClass">
			<p class="title">@Title</p>
		</div>
	}

	@if (HeroFoot != null)
	{
		<div class="@FootCssClass">
			@HeroFoot
		</div>
	}
</section>
