@namespace easy_blazor_bulma
@inherits ComponentBase

<div class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	<div>
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else if (string.IsNullOrWhiteSpace(Url) == false)
		{
			<a class="@UrlCssClass" href="@Url">
				<p class="heading">@Heading</p>
				<p class="title">@Title</p>
			</a>
		}
		else
		{
			<p class="heading">@Heading</p>
			<p class="title">@Title</p>
		}
	</div>
</div>
